<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">👍</a>
    <!-- <img style="width:400px;height:400px" src="{{image}}" /> -->
    <div class="post-content">
      <h3>
      <a href="{{url}}">{{title}}</a>
      <span><a style="color: grey" href="{{url}}">&#8592;{{ref}}</a></span>
      </h3>
      {{#if image}}
      <p>
      <a href="{{url}}">
      <img style="width:235px" class="img-responsive" src="{{image}}" />
      </a>
      </p>
      {{/if}}
      
      <div style="margin-top:5px">
      <strong>
      {{description}}
      </strong>
      </div>
      
      
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Обсудить</a>
  </div>
</template>