<template name="postsList">
  <div class="posts page">
     <div class="container">
<div class="row">
<div class="col-lg-9">
    <div class="wrapper">
      {{#each posts}}
        {{> postItem}}
      {{/each}}
    </div>
    </div>
    <div class="col-lg-3">
    <div class="affix">
<a href="http://www.alpari.ru/ru/investor/pamm/?" target="_blank">
<img src="http://ws.alpari.ru/gtt/bnr.php?key=3a38a81f&subject=ib&type=GIF&date=2016-01-27 12:33:11&pid=1233948&name=invest_pamm_rus&_bnr=http://banners.alpari-idc.ru/partnership-banners/images/270.gif?" alt="" />
</a>

    </div>
    </div>
    </div>
    </div>
    
    
    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>
