<template name="profile">
<div class="container">
  <div class="row">
<div class="col-lg-2">
<strong>Your first name: </strong>{{firstName}}
</div><br/>
<div class="col-lg-2">
<strong>Your last name: </strong>{{lastName}}
</div>

<!--   <form class="main form page">
    <div class="form-group {{errorClass 'url'}}">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="url" id="url" type="text" value="" placeholder="Your URL" class="form-control"/>
          <span class="help-block">{{errorMessage 'url'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form> -->

<!--   <form role="form" id="form_2">
  <div class="col-lg-6" id="form_222"> -->
  <!-- <div class="form-group">

    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">

  </div> -->
<!--   <div class="form-group">

    <label for="username">Username:</label>
    <input type="username" class="form-control" id="username">

  </div> -->
<!-- <div class="form-group">

    <label for="firstName">Firstname:</label>
    <input name="firstName" type="text" class="form-control" id="firstName"> -->
<!-- <span>{{firstName}}</span> -->
  
<!-- </div>
<div class="form-group">

    <label for="lastName">Lastname:</label>
    <input name="lastName" type="text" class="form-control" id="lastName"> -->
<!--   <span>{{lastName}}</span> -->
<!-- </div> -->
<!--  <a class="btn btn-primary profile" href="#">Submit</a> -->
<!--   <button type="submit" class="btn btn-default">Submit</button> -->
<!-- <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
</div>
</form> -->

                 <!--        <form role="form" id="form_2">
                            <div class="form-group"><label for="name">First name</label> <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control" required></div>
                            <div class="form-group"><label for="last_name">Last name</label> <input type="text" id="last_name" placeholder="Enter your last name" class="form-control" name="last_name"></div>
                          
                            <div>
                                <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                            </div>
                        </form> -->
</div>
</div>

</template>